## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Lugovskoy,RU,56.9585,64.5290,59.94,99,20,6.22,few clouds
1,1,Khatanga,RU,71.9667,102.5000,43.99,78,100,6.42,overcast clouds
2,2,Bozoum,CF,6.3193,16.3799,68.45,95,100,4.36,overcast clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,42.12,81,100,12.12,overcast clouds
4,4,New Norfolk,AU,-42.7826,147.0587,49.91,78,99,1.99,light rain

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 64
What is your desired maximum temperature for your trip? 88

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bozoum,CF,6.3193,16.3799,68.45,95,100,4.36,overcast clouds
5,5,Kapaa,US,22.0752,-159.3190,82.11,68,97,8.01,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,76.08,87,100,14.20,overcast clouds
7,7,La Ronge,CA,55.1001,-105.2842,66.76,55,56,9.57,broken clouds
10,10,Torquay,GB,50.4638,-3.5143,65.93,82,0,4.00,clear sky
11,11,Omboue,GA,-1.5746,9.2618,73.08,90,10,10.09,clear sky
13,13,Hilo,US,19.7297,-155.0900,83.12,73,19,5.01,few clouds
16,16,Sao Joao Da Barra,BR,-21.6403,-41.0511,67.86,70,4,8.55,clear sky
18,18,Chapais,CA,49.7834,-74.8492,72.05,58,98,7.00,overcast clouds
19,19,Wajir,KE,1.7471,40.0573,78.51,59,100,19.46,overcast clouds

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                400
City                   400
Country                400
Lat                    400
Lng                    400
Max Temp               400
Humidity               400
Cloudiness             400
Wind Speed             400
Current Description    400
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df
#237 rows match 237 rows in previous count

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bozoum,CF,6.3193,16.3799,68.45,95,100,4.36,overcast clouds
5,5,Kapaa,US,22.0752,-159.3190,82.11,68,97,8.01,overcast clouds
6,6,Vaini,TO,-21.2000,-175.2000,76.08,87,100,14.20,overcast clouds
7,7,La Ronge,CA,55.1001,-105.2842,66.76,55,56,9.57,broken clouds
10,10,Torquay,GB,50.4638,-3.5143,65.93,82,0,4.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
672,672,Omis,HR,43.4447,16.6886,78.73,50,0,9.69,clear sky
674,674,Ushtobe,KZ,45.2514,77.9838,67.69,48,11,3.78,few clouds
676,676,Camapua,BR,-19.5314,-54.0439,81.16,26,0,2.84,clear sky
677,677,Chernyshkovskiy,RU,48.4219,42.2308,74.57,64,0,11.50,clear sky
678,678,Kontagora,NG,10.3999,5.4695,72.81,87,87,3.02,overcast clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bozoum,CF,68.45,overcast clouds,6.3193,16.3799,
5,Kapaa,US,82.11,overcast clouds,22.0752,-159.3190,
6,Vaini,TO,76.08,overcast clouds,-21.2000,-175.2000,
7,La Ronge,CA,66.76,broken clouds,55.1001,-105.2842,
10,Torquay,GB,65.93,clear sky,50.4638,-3.5143,
11,Omboue,GA,73.08,clear sky,-1.5746,9.2618,
13,Hilo,US,83.12,few clouds,19.7297,-155.0900,
16,Sao Joao Da Barra,BR,67.86,clear sky,-21.6403,-41.0511,
18,Chapais,CA,72.05,overcast clouds,49.7834,-74.8492,
19,Wajir,KE,78.51,overcast clouds,1.7471,40.0573,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [14]:
# 7a. Drop the rows where there is no Hotel Name.
hotel_df.count()
#No nulls so no need in this case

City                   400
Country                400
Max Temp               400
Current Description    400
Lat                    400
Lng                    400
Hotel Name             400
dtype: int64

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeathePy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [17]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [19]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))